# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Proyecto jose diego\emponline-laravel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
